body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('https://i.pinimg.com/564x/a1/68/6c/a1686c49a4317426c1eb34ac730d460e.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#add{
    width:150px;
    margin-left: 40%;
    border-radius: 10px;
    height:30px;
    box-shadow: 0 0 10px black;
    border:none;
    margin-top: 5px;


}


#app {
    max-width: 800px;
    height: 80vh;
    
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: auto;

}

h2 {
    text-align: center;
    color: #333;
}

#expenseForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#expenseList {
    margin-top: 20px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#totalBill {
    margin-top: 20px;
    text-align: right;
}

#expenseChart {
    margin-top: 20px;
}